---
import './PageHome.css'

import Activities from '@/useCases/Home/components/Activities/Activities.astro'
import Footer from '@/useCases/Home/components/Footer/Footer.astro'
import Header from '@/useCases/Home/components/Header/Header.astro'
import Hero from '@/useCases/Home/components/Hero/Hero.astro'
import Highlights from '@/useCases/Home/components/Highlights/Highlights.astro'
import Members from '@/useCases/Home/components/Members/Members.astro'

const siteUrl = Astro.site
const ogpImageUrl = new URL('/images/ogp.png', siteUrl)

const title = 'Oysters'
const subTitle = '若手ものづくり集団 Oysters'
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={siteUrl} />
    <meta name="description" content={subTitle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={subTitle} />
    <meta name="twitter:image:src" content={ogpImageUrl} />

    <title>{title} | {subTitle}</title>
  </head>

  <body>
    <Hero>
      <Header slot="header" />
    </Hero>
    <main class="container mx-auto pb-9 px-safe">
      <div class="mt-9">
        <Activities />
      </div>
      <div class="mt-9">
        <Members />
      </div>
      <div class="mt-9">
        <Highlights />
      </div>
    </main>
    <Footer />
  </body>
</html>
