---
import { Image } from 'astro:assets'
import { members } from './data.ts'

const memberImages = import.meta.glob<{ default: ImageMetadata }>(
  './assets/profiles/*.{png,jpg,jpeg,svg}'
)
const links = [
  {
    field: 'twitter',
    label: 'Twitter',
    url: 'https://x.com/{value}',
    image: await import('./assets/twitter.svg').then((m) => m.default)
  },
  {
    field: 'github',
    label: 'Github',
    url: 'https://github.com/{value}',
    image: await import('./assets/github.svg').then((m) => m.default)
  },
  {
    field: 'website',
    label: 'ウェブサイト',
    url: '{value}',
    image: await import('./assets/website.svg').then((m) => m.default)
  }
] as const
---

<section>
  <h2>メンバー</h2>
  <p>
    50名の若手エンジニアの集いです
    <dl>
      {
        members.map((member) => (
          <>
            <dt>
              <Image
                src={memberImages[`./assets/profiles/${member.image}`]()}
                width={64}
                height={64}
                alt=""
                densities={[1, 2]}
              />
              {member.name}
            </dt>
            <dd>
              <ul>
                {links.map(
                  (link) =>
                    member[link.field] && (
                      <li>
                        <a
                          href={link.url.replace(
                            '{value}',
                            member[link.field] as string
                          )}
                          target="_blank"
                          rel="noreferrer"
                        >
                          <Image
                            src={link.image}
                            alt={link.label}
                            width={32}
                            height={32}
                            densities={[1, 2]}
                          />
                        </a>
                      </li>
                    )
                )}
              </ul>
            </dd>
          </>
        ))
      }
    </dl>
  </p>
</section>
