---
import { Image } from 'astro:assets'
import iconExternal from './assets/external.svg'

interface Props {
  image: string
  description: string
  link?: {
    title: string
    url: string
  }
}

const { image, description, link } = Astro.props

const thumbnails = import.meta.glob<{ default: ImageMetadata }>(
  './assets/thumbnails/*.{png,jpg,jpeg,svg}'
)
const thumbnail = thumbnails[`./assets/thumbnails/${image}`]()
---

<div>
  <Image src={thumbnail} width={344} height={172} alt="" densities={[1, 2]} />
  {description}
  {
    link && (
      <span>
        {link.title}
        <Image
          src={iconExternal}
          width={20}
          height={20}
          alt=""
          densities={[1, 2]}
        />
      </span>
    )
  }
</div>
